:root {
    /*Verde aqua*/
    --primary: #00B094;
    --primary-1: #00846f;
    --primary-2: #00584a;
    --primary-3: #004238;
    --primary-4: #001612;
    /*Gris*/
    --gray: #f9fafb;
    --gray-1: #dadbdc;
    --gray-2: #bbbbbc;
    --gray-3: #9c9c9d;
    /*Morado*/
    --violet-dark: #660055;
    --violet: #80006a; /* Principal */
    --violet-1: #a65c99;
    --violet-2: #cc73a5;
    --violet-3: #d99cbf;
    --violet-4: #e6c8db;
    --violet-5: #f2e4ed;
    /*Lara- Purple*/
    --lara-purple: #8b5cf6;
}
