.layout {
    padding: 0 !important;
    margin: 0 !important;
    min-height: 100vh;
    flex-direction: column;
}
.layout-content {
    flex: 1;
    overflow: auto;
}

.p-menubar .p-menubar-root-list {
    margin-left: auto !important;
}
.p-menubar {
    margin: 0 0 5px 0 !important;
    width: 100% !important;
    border-radius: 0 !important;
}
.layout-footer {
    flex-shrink: 0 !important;
    margin-top: auto;
    padding: 10px;
}
/*Lista del menubar*/

