
/*Formulario de solicitudes grid*/
.form-grid-solicitudes {
    /*  display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 2rem;*/

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 2rem
}

.soldiv1 {
    grid-column: span 3 / span 3;
}

.soldiv2 {
    grid-column: span 7 / span 7;
    grid-column-start: 4;
}

.soldiv3 {
    grid-column-start: 11;
}

.soldiv4 {
    grid-column-start: 12;
}

.soldiv5 {
    grid-column: span 3 / span 3;
    grid-row-start: 2;
}

.soldiv6 {
    grid-column: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 2;
}

.soldiv7 {
    grid-column: span 6 / span 6;
    grid-column-start: 6;
    grid-row-start: 2;
}

.soldiv8 {
    grid-column-start: 12;
    grid-row-start: 2;
}
        
/*
.soldiv1 {
    grid-column: span 2 / span 2;
}

.soldiv2 {
    grid-column: span 3 / span 3;
    grid-column-start: 3;
}

.soldiv3 {
    grid-row-start: 2;
}

.soldiv4 {
    grid-column: span 2 / span 2;
    grid-row-start: 2;
}

.soldiv5 {
    grid-column: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 2;
}

.soldiv6 {
    grid-column: span 2 / span 2;
    grid-row-start: 3;
}

.soldiv7 {
    grid-column: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 3;
}*/
