
/*Formulario de solicitudes grid*/
.form-grid-solicitudes {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 2rem
}

.soldiv1 {
    grid-column: span 3 / span 3;
}

.soldiv2 {
    grid-column: span 8 / span 8;
    grid-column-start: 4;
}

.soldiv3 {
    grid-column-start: 12;
}

.soldiv4 {
    grid-row-start: 2;
}

.soldiv5 {
    grid-column: span 3 / span 3;
    grid-row-start: 2;
}

.soldiv6 {
    grid-column: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 2;
}

.soldiv7 {
    grid-column: span 5 / span 5;
    grid-column-start: 7;
    grid-row-start: 2;
}

.soldiv8 {
    grid-column-start: 12;
    grid-row-start: 2;
}